header {
    background-color: white;
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 20px 10px -17px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    border-bottom: 3px var(--main-pink-color) solid;
}

.header-title {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 400;
    margin-left: 1em;
    font-size: 40px;
}

.upload-button {
    margin-right: 1em;
}

.container-button-sign-out {
    display: flex;
    align-items: center;
    margin-right: 3em;
}

.container-button-sign-out > p {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    text-decoration: underline;
}

.upload-button {
    width: 8em;
    height: 2em;
    border-radius: 6px;
    border: none;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: var(--main-yellow-color);
    cursor: pointer;
}