.sign-up-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* font-family: 'Merriweather', serif; */

.sign-up-form {
    border: 1px rgb(201, 200, 200) solid;
    height: 30rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 9px;
}

.join-up {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.yellow-accent {
    color: var(--main-yellow-color);
}

.pink-accent {
    color: var(--main-pink-color);
}

.input-container {
    margin: 1em;
}

.input-container > label {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 700;
}

 .input-container > input {
    display: block;
    height: 3em;
    width: 25em;
    margin-top: 0.60em;
    margin-bottom: 0.70em;
    border-radius: 6px;
    border: 1px rgb(214, 214, 214) solid;
    padding: 0.30em;
}

.button-sign-up {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 25em;
    height: 3em;
    border-radius: 6px;
    border: none;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: var(--main-pink-color);
    cursor: pointer;
}

.button-sign-up:active {
    background-color: var(--main-yellow-color);
}

.back-to-login {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.user-exists {
    font-family: 'Merriweather', serif;
    color: rgb(255, 95, 95);
}